################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Docker-LC/CopilotIndices/17.12.53.23981
